node_modules/
bower_components
generated/
dist/
.node-xmlhttprequest-sync-*
.node-xmlhttprequest-content-*
packages/
reports/
.env.json
.*
**/.*
!/.gitignore
npm-debug.log
.DS_Store
datadir/**/*
!datadir/development/
!datadir/development/keystore/
!datadir/development/keystore/*
config/production/password
config/production/githubToken