body{
	padding:0 0 80px 0;
	overflow-y:scroll;
    overflow-x:hidden;
	background-image:none;
}
tbody{border-top: none !important}

a.glyphicon:hover{text-decoration: none;}
a[href]:not([href*="#"]):not([href=""]):not([href="."]):before
,a[href]:not([href*="#"]):not([href=""]):not([href="."]):after{
    content:'\26a0';color:red;font-weight: bold;padding:0 3px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

table{
    table-layout: fixed
}

input[type="range"]{
    height: 6px;
    padding: 0;
    margin-top: 7px;
}

.modal:not(:last-child) {
    display: none !important;
}

.input-group select{
    -webkit-appearance: none;
}

h3 .btn{float: right}

.mainView{padding:0 10px 10px;}

.nav.nav-tabs{margin-bottom: 20px}

.growl{
    right: 25px;
    z-index: 100000;
}

.oneliner{
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-small{font-size: 14px}

.key{
	font-family: "Lucida Console", Monaco, monospace;
	font-size: .8em;
    line-height: 1.42857;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    white-space: pre;
}

.panel-title{position: relative;}

[ng-click]{cursor: pointer;}

[collapsable]{
    border-top-width: 4 !important;
    border-top-style: dotted !important;
    border-top-color:#ccc !important;
    cursor: pointer !important;
    padding-top: 8px;
}
[collapsable] tr{background-color: #eee}
[collapsable]:before{
    content:'';
    position: absolute;
    width:100%;
    height:10px;
    margin-top: -4px;
    cursor: pointer;
}
[collapsable].isCollapsed td{display: none}
[collapsable] tr:first-child td{border-top:none;}
[collapsable].isCollapsed + tbody{border-top: none !important}
[collapsable].isCollapsed + tbody tr:first-child td{border-top:none;}

.comment-child{background-color: #eee}
.update{background-color:#EFF3FA;}

.spin{ animation: spin 2s linear infinite; }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.btn:focus {
  outline: none !important;
}

.mainTable{width:100%;}
.push-down{margin-top: 20px}

.product-image{max-height: 100px;max-width: 100%}