body{
	padding:0 0 80px 0;
	overflow-y:scroll;
	background-image:none;
}
tbody{border-top: none !important}

a.glyphicon:hover{text-decoration: none;}

table{
    table-layout: fixed
}

input[type="range"]{
    height: 6px;
    padding: 0;
    margin-top: 7px;
}

.input-group select{
    -webkit-appearance: none;
}

h3 .btn{float: right}

.nav.nav-tabs{margin-bottom: 20px}

.growl{
    right: 25px;
    z-index: 100000;
}

.oneliner{
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-small{font-size: 14px}

.key{
	font-family: "Lucida Console", Monaco, monospace;
	font-size: .8em;
    line-height: 1.42857;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    white-space: pre;
}

.panel-title{position: relative;}

[ng-click]{cursor: pointer;}

[collapsable]{
    border-top-width: 4 !important;
    border-top-style: dotted !important;
    border-top-color:#ccc !important;
    cursor: pointer !important;
    padding-top: 8px;
}
[collapsable] tr{background-color: #eee}
[collapsable]:before{
    content:'';
    position: absolute;
    width:100%;
    height:10px;
    margin-top: -4px;
    cursor: pointer;
}
[collapsable].isCollapsed td{display: none}
[collapsable] tr:first-child td{border-top:none;}
[collapsable].isCollapsed + tbody{border-top: none !important}
[collapsable].isCollapsed + tbody tr:first-child td{border-top:none;}

.comment-child{background-color: #eee}
.update{background-color:#EFF3FA;}