<div class="page">

    <div class="divider divider-lg"></div>
    <div class="row">
        <div class="col-md-3 col-xsm-6">
            <section class="pricing-table">
                <header>Free</header>
                <div class="pricing-body">
                    <div class="pricing-price">
                        <strong>
                            <sup>$</sup><span>0.00</span><sub>/month</sub>
                        </strong>
                        <hr class="hr-colored">
                        <p class="subtitle">Lbore aspernatur omnis nemo omnis porro cupiditate quaerat alias aliquam!</p>
                    </div>
                    <ul>
                        <li><strong>No</strong> Support</li>
                        <li><strong>1</strong> Website</li>
                        <li><strong>10GB</strong> Disk Space</li>
                        <li><strong>3</strong> Database</li>
                        <li><strong>1</strong> Email Address</li>
                    </ul>                            
                </div>
                <footer>
                    <a href="javascript:;" class="btn btn-primary">Get it now</a>
                </footer>
            </section>
        </div>

        <div class="col-md-3 col-xsm-6">
            <section class="pricing-table pricing-table-highlight">
                <header>Basic</header>
                <div class="pricing-body">
                    <div class="pricing-price">
                        <strong>
                            <sup>$</sup><span>29.00</span><sub>/month</sub>
                        </strong>
                        <hr>
                        <p class="subtitle">Lbore aspernatur omnis nemo omnis porro cupiditate quaerat alias aliquam!</p>
                    </div>
                    <ul>
                        <li><strong>24/7</strong> Support</li>
                        <li><strong>1</strong> Website</li>
                        <li><strong>100GB</strong> Disk Space</li>
                        <li><strong>10</strong> Database</li>
                        <li><strong>10</strong> Email Address</li>
                    </ul>                            
                </div>
                <footer>
                    <a href="javascript:;" class="btn btn-default">Get it now</a>
                </footer>
            </section>
        </div>

        <div class="col-md-3 col-xsm-6">
            <section class="pricing-table">
                <header>STANDARD</header>
                <div class="pricing-body">
                    <div class="pricing-price">
                        <strong>
                            <sup>$</sup><span>39.00</span><sub>/month</sub>
                        </strong>
                        <hr class="hr-colored">
                        <p class="subtitle">Lbore aspernatur omnis nemo omnis porro cupiditate quaerat alias aliquam!</p>
                    </div>
                    <ul>
                        <li><strong>24/7</strong> Support</li>
                        <li><strong>Unlimited</strong> Website</li>
                        <li><strong>500GB</strong> Disk Space</li>
                        <li><strong>25</strong> Database</li>
                        <li><strong>50</strong> Email Address</li>
                    </ul>                            
                </div>
                <footer>
                    <a href="javascript:;" class="btn btn-primary">Get it now</a>
                </footer>
            </section>
        </div>

        <div class="col-md-3 col-xsm-6">
            <section class="pricing-table">
                <header>ULTIMATE</header>
                <div class="pricing-body">
                    <div class="pricing-price">
                        <strong>
                            <sup>$</sup><span>99.00</span><sub>/month</sub>
                        </strong>
                        <hr class="hr-colored">
                        <p class="subtitle">Lbore aspernatur omnis nemo omnis porro cupiditate quaerat alias aliquam!</p>
                    </div>
                    <ul>
                        <li><strong>24/7</strong> Support</li>
                        <li><strong>Unlimited</strong> Website</li>
                        <li><strong>Unlimited</strong> Disk Space</li>
                        <li><strong>Unlimited</strong> Database</li>
                        <li><strong>100</strong> Email Address</li>
                    </ul>                            
                </div>
                <footer>
                    <a href="javascript:;" class="btn btn-primary">Get it now</a>
                </footer>
            </section>
        </div>
    </div>

</div>