<div ng-show="isAddingComment" class="alert alert-info text-center">
	Adding comment...
</div>
<form ng-show="!isAddingComment" ng-submit="addComment()">
	<textarea class="form-control" ng-model="text"></textarea>
	<div ng-show="text.length>0" style="margin-top:10px">
		<table>
			<tr>
				<td style="width:50%"><span gas="estimatedGas"></span></td>
				<td style="text-align:right">
					<div class="input-group"> 
			            <select class="form-control" ng-model="identity" ng-options="identity.label for identity in identities"></select>
			            <span class="input-group-btn">
			            	<button class="btn btn-primary">Submit</button>
			            </span>
			        </div>
				</td>
			</tr>			
		</table>
	</div>
</form>