<div class="container" ng-controller="AdvertisingController">
<h2>Advertising</h2>
<table class="table">
	<tr>
		<th>Start</td>
		<th>Current Winner</td>
		<th>Current Bid</td>
		<th>
		</th>
	</tr>
	<tr ng-repeat="slot in billboard.slots" ng-class="{'slot-past':slot.index<billboard.slotIndexNow,'slot-today':slot.index===billboard.slotIndexNow}">
		<td timestamp="slot.timestamp"></td>
		<td>{{slot.winner ? slot.winner : '--'}}</td>
		<td><amounts value="slot.bid" from="'WEI'" to="['USD']"></amounts></td>
		<td>
			<button class="btn btn-primary" ng-if="slot.index>=billboard.slotIndexNow" ng-click="openBillboardBidModal(slot.index)">Place Bid</button>
		</td>
	</tr>
</table>
</div>