<div class="modal-header">
    <h3 class="modal-title">Aliases for {{addr.substr(0,6)}}</h3>
</div>
<div class="modal-body">
    <div class="alert alert-info text-center" ng-show="isUpdating">
        <img src="images/balls.gif"> Updating Updating
    </div>
    <div ng-show="!isUpdating">
    <div ng-show="aliases.length>0">
        <h3>Current Aliases</h3>
        {{aliases.join(', ')}}
    </div>
    <h3>New Aliases</h3>
    <table class="table">
        <tr ng-repeat="newAlias in newAliases">
            <td>
                <input
                    type="text" class="form-control"
                    ng-model="newAlias.text"
                    ng-model-options="{debounce:500}"
                >
                <div
                    ng-show="newAlias.isTaken"
                    class="text-danger"
                    style="float:left"
                >That alias has already been taken</div>
                <button
                    class="btn btn-danger btn-xs"
                    ng-click="newAliases.splice($index,1)"
                    ng-show="newAliases.length>1"
                    style="float:right;margin-top:5px"
                >Delete</button>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <button class="btn btn-primary" ng-click="addNewAlias()">+</button>
            </td>
        </tr>
    </table>
    <div ng-show="suggestedAliases.length>0">
        <h3>Suggested Aliases</h3>
        <table class="table">
            <tr ng-repeat="alias in suggestedAliases">
                <td>
                    <label>
                        <input type="checkbox" ng-model="alias.doTake">
                        {{alias.text}}
                    </label>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer" ng-show="!isUpdated">
    <button class="btn btn-primary" type="button" ng-click="submit()">OK</button>
</div>
