<table class="table">
	<tr>
		<td colspan="2">
			<div class="alert alert-info text-center" ng-show="forum.commentsGroup.comments.length === 0">
				Nothing here yet. Why don't you say something?
			</div>
			<div add-comment="forum.commentsGroup"></div>
		</td>
	</tr>
	<tbody ng-repeat="comment in forum.commentsGroup.comments">
		<tr>
			<td>
				{{comment.text}}
				<div class="text-muted" style="font-size:14px">
					By <span alias="comment.author"></span> |
					<a ng-click="showReplies=!showReplies">Replies ({{comment.commentsGroup.comments.length}})</a>
				</div>
			</td>
			<td timestamp="comment.timestamp*1000" class="text-right"></td>
		</tr>
		<tr ng-show="showReplies" class="comment-child">
			<td colspan="2" add-comment="comment.commentsGroup"></td>
		</tr>
		<tr ng-show="showReplies" ng-repeat="comment in comment.commentsGroup.comments"  class="comment-child">
			<td>
				{{comment.text}}
				<div class="text-muted" style="font-size:14px">
					By <span alias="comment.author"></span>
				</div>
			</td>
			<td timestamp="comment.timestamp*1000" class="text-right"></td>
		</tr>
	</tbody>
</table>