<div class='container text-center'>
	<h1>Hello Friend</h1>
	<p>Welcome to SafeMarket. The Secure, Anonymous, and Censorship Resistant Marketplace.</p>
	<br>
	<div alias-bar></div>
	<div class="row">
		<div class="col-sm-4">
			<h4 class="text-center">My Orders</h4>
			<div ng-repeat="order in user.data.orders" class="oneliner">
				<a ng-href="#/orders/{{order}}">{{order}}</a>
			</div>
		</div>
		<div class="col-sm-4">
			<h4 class="text-center">
				My Stores 
				<a ng-click="openStoreModal()">+</a>
			</h4>
			<div ng-repeat="store in user.data.stores" alias="store">
			</div>
		</div>
		<div class="col-sm-4">
			<h4 class="text-center">
				My Markets
				<a ng-click="openMarketModal()">+</a>
			</h4>
			<div ng-repeat="market in user.data.markets" alias="market">
			</div>
		</div>
	</div>
</div>