<div class='text-center'>
	<h1>Hello, Friend</h1>
	<br>
	<div alias-bar></div>
	<div class="row">
		<div class="col-sm-4">
			<h4 class="text-center">My Orders</h4>
			<div ng-repeat="orderAddr in user.data.orderAddrs" class="oneliner">
				<a ng-href="#/orders/{{orderAddr}}">{{orderAddr}}</a>
			</div>
		</div>
		<div class="col-sm-4">
			<h4 class="text-center">
				My Stores 
				<a ng-click="openStoreModal()" class="glyphicon glyphicon-plus"></a>
				<a ng-click="openImportStoreModal()" class="glyphicon glyphicon-import"></a>
			</h4>
			<div ng-repeat="storeAddr in user.data.storeAddrs" alias="storeAddr">
			</div>
		</div>
		<div class="col-sm-4">
			<h4 class="text-center">
				My Submarket
				<a ng-click="openSubmarketModal()" class="glyphicon glyphicon-plus"></a>
				<a ng-click="openImportSubmarketModal()" class="glyphicon glyphicon-import"></a>
			</h4>
			<div ng-repeat="submarketAddr in user.data.submarketAddrs" alias="submarketAddr">
			</div>
		</div>
	</div>
</div>