<div class="container">
	<center><h1>Welcome <span ng-show="userExists">Back</span><span ng-show="!userExists">to SafeMarket<span></h1></center>
	<div ng-show="userExists">
		<form ng-submit="login()"  id="loginForm">
			<table class="table">
				<tr>
					<td>Passphrase:</td>
					<td>
						<input type="{{showPassword?'text':'password'}}" ng-model="password" class="form-control">
						<label><input type="checkbox" ng-model="showPassword"> Show Passphrase</label>
					</td>
				</tr>
				<tr>
					<td></td>
					<td class="text-right">
						<a class="btn btn-danger" ng-click="reset()">Reset Account</a>
						<button class="btn btn-primary">Log In</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div ng-show="!userExists">
		<form ng-submit="register()" id="registerForm">
			<table class="table">
				<tr>
					<td>Passphrase:</td>
					<td><input type="{{showPassword?'text':'password'}}" ng-model="password" class="form-control"></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<p class="small">
						This passphrase will be used to encrypt the data on your local machine. Here are some suggestions for choosing good passphrases.
						<ul style="padding-left: 15px;">
							<li class="small">Make it long.</li>
							<li class="small">Use words that aren't in the dictionary, like proper nouns and slang.</li>
							<li class="small">Use punctuations and numbers.</li>
						</ul>
						</p>
					</td>
				</tr>
				<tr>
					<td>Repeat Passphrase:</td>
					<td><input type="{{showPassword?'text':'password'}}" ng-model="password1" class="form-control"></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<label><input type="checkbox" ng-model="showPassword"> Show Passphrase</label>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button class="btn btn-primary">Create Account</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>