<div class="alert alert-info text-center" ng-show="orderBookEntries.length===0">No orders yet</div>
<table class="table" ng-show="orderBookEntries.length>0">
	<tr>
		<th>Created</th>
		<th>Order Address</th>
		<th>Store</th>
		<th>Market</th>
		<th>Status</th>
	</tr>
	<tr ng-repeat="orderBookEntry in orderBookEntries">
		<td timestamp ="orderBookEntry.timestamp * 1000"></td>
		<td><a ng-href="{{orderBookEntry.orderAddr | url:'order'}}">{{orderBookEntry.orderAddr | shortAddr}}</a></td>
		<td alias="orderBookEntry.storeAddr"></td>
		<td>
			<div ng-if="orderBookEntry.usesMarket" alias="orderBookEntry.marketAddr">
			</div>
		</td>
		<td>
			{{orderBookEntry.status | status}}
		</td>
	</tr>
</table>
