<div class="container">
	<div alias-bar="{{store.alias}}"></div>
	<div class="aligner">
		<h1 class="pull-left aligner-bottom clear-margin-horizontal">
			{{store.meta.name}}
		</h1>
		<button
		ng-show="user.data.account === store.owner"
		class="pull-left btn btn-default aligner-bottom clear-margin-horizontal"
		ng-click="openStoreModal(store)"
		>
		Edit
	</button>
</div>
<div class="pull-left">
	<h4 class="pull-left">Referred By:</h4>
	<form class="" ng-submit="submit()">
		<div class="input-group">
			<div class="input-group-addon">@</div>
			<input class="form-control" ng-model="affiliateAlias">
		</div>
	</form>
</div>
<tabset>
	<tab
	ng-repeat="tab in tabs"
	heading="{{tab.heading}}"
	select="go(tab.route)"
	active="tab.active">
</tab>
</tabset>
<div ui-view></div>
</div>
