<div class="container">
	<div alias-bar="{{store.alias}}"></div>
	<div class="row aligner">
		<h1 class="pull-left aligner-bottom clear-margin-horizontal">
			{{store.meta.name}}
		</h1>
		<button
		ng-show="user.data.account === store.owner"
		class="pull-left btn btn-default aligner-bottom clear-margin-horizontal"
		ng-click="openStoreModal(store)"
		>
		Edit
	</button>
	<div class="aligner-item"></div>
	<h3 class="aligner-bottom">Referred By:</h3>
	<div class="col-md-6 aligner">
		<form class="clear-margin col-md-8 aligner-bottom" ng-submit="submit()">
			<div class="input-group">
				<div class="input-group-addon">@</div>
				<input class="form-control" ng-model="affiliateAlias">
			</div>
		</form>
	</div>
</div>
<tabset>
	<tab
	ng-repeat="tab in tabs"
	heading="{{tab.heading}}"
	select="go(tab.route)"
	active="tab.active">
</tab>
</tabset>
<div ui-view></div>
</div>
