<div class="container">
	<div ng-cloak ng-show="!store" class="alert alert-danger">
		Could not find store at {{addr}}
	</div>
	<div ng-cloak ng-show="store">
		<h1>
			<span ng-show="market"><a ng-href="#/markets/{{market.addr}}">{{market.meta.name}}</a> » </span>{{store.meta.name}}
			<button
				ng-show="user.data.account === store.merchant"
				class="btn btn-default"
				ng-click="openStoreModal(store)"
			>
				Edit
			</button>
		</h1>
		<table class="table">
			<tr>
				<td>Address</td>
				<td>{{store.addr}}</td>
			</tr>
			<tr>
				<td>Merchant</td>
				<td>{{store.merchant}}</td>
			</tr>
			<tr>
				<td>Dispute Time</td>
				<td>{{store.meta.disputeSeconds | disputeSeconds}}</td>
			</tr>
			<tr>
				<td>Public Key</td>
				<td key="store.publicKey"></td>
			</tr>
		</table>
		<h3>Products</h3>
		<table class="table">
			<tr ng-repeat="product in store.products">
				<td>
					{{product.name}}
				</td>
				<td>
					{{product.info}}
				</td>
				<td>
					<amounts
						value="product.price"
						from="store.meta.currency"
						to="displayCurrencies">
					</amounts>
				</td>
				<td>
					<input class="form-control" type="number" ng-model="product.quantity" min="0">
				</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<amounts
						value="totalInStoreCurrency"
						from="store.meta.currency"
						to="displayCurrencies">
					</amounts>
				</td>
			</tr>
		</table>
		<h3>Keypair</h3>
		<table class="table">
	        <tr ng-repeat="keypair in user.keypairs">
	            <td>{{keypair.data.label}}</td>
	            <td timestamp="keypair.data.timestamp"></td>
	            <td><input type="radio" ng-model="$parent.publicKey" ng-value="keypair.public.toPacketlist().write()"></td>
	        </tr>
	    </table>
	    <hr>
	    <div class="text-right">
			<button ng-click="createOrder(store,market)" class="btn btn-primary btn-lg">Create Your Order</button>
		</div>
	</div>
</div>
