<table class="table">
	<tr>
		<td>Status</td>
		<td>{{store.infosphered.data.isOpen ? 'Open' : 'Closed'}}</td>
	</tr>
	<tr>
		<td>Location</td>
		<td country="store.meta.base"></td>
	</tr>
	<tr>
		<td>Shipping</td>
		<td>
			<div ng-repeat="transport in store.transports">
				<span ng-if="!transport.isGlobal" country="transport.to"></span>
				<span ng-if="transport.isGlobal">Globally</span>
				({{transport.name}})
			</div>
		</td>
	</tr>
	<tr>
		<td>Dispute Resolution Time</td>
		<td>{{store.infosphered.data.disputeSeconds | disputeSeconds}}</td>
	</tr>
	<tr>
		<td>Exchange Rate Buffer</td>
		<td>{{store.infosphered.data.bufferCentiperun.toNumber()}}%</td>
	</tr>
	<tr>
		<td>Minimum Total Order Size</td>
		<td><amounts value="store.minTotal.in(store.currency)" from="store.currency" to="displayCurrencies"></amounts></td>
	</tr>
	<tr>
		<td>Affiliate Fee</td>
		<td>{{store.infosphered.data.affiliateFeeCentiperun.toNumber()}}%</td>
	</tr>
	<tr ng-show="store.reviews.length>0">
		<td>Reviews ({{store.averageScore.toFixed(1).toString()}})</td>
		<td><table class="table">
			<tr ng-repeat="scoreCount in store.scoreCountsReversed track by $index">
				<td>{{5-$index}} ({{scoreCount}})</td>
				<td>
					<progressbar value="scoreCount/store.scoreCountsTotal" max="1"></progressbar>
				</td>
				<td>{{scoreCount/store.scoreCountsTotal | perun}}</td>
			</tr>
		</table></td>
	</tr>
	<tbody collapsable is-collapsed="true">
		<tr>
			<td>Address</td>
			<td class="oneliner">{{store.addr}}</td>
		</tr>
		<tr>
			<td>Owner</td>
			<td class="oneliner">{{store.owner}}</td>
		</tr>
		<tr>
			<td>Public Key</td>
			<td key="store.key"></td>
		</tr>
	</tbody>
</table>
<div marked="store.info"></div>