<div ng-controller="ProductsController">
	<table class="table">
		<tr ng-repeat="product in products">
			<td>
				<img ng-src="{{product.img}}" ng-if="product.img" class="product-image">
			</td>
			<td>
				{{product.name}}
			</td>
			<td>
				{{product.info}}
			</td>
			<td>
				<amounts
					value="product.price.in(store.currency)"
					from="store.currency"
					to="displayCurrencies">
				</amounts>
			</td>
			<td>
				<input class="form-control" type="number" ng-model="product.quantity" min="0" ng-change="quantityChanged()">
			</td>
		</tr>
		<tr>
			<td colspan="4"></td>
			<td>
				<amounts
					value="productsTotal.in(store.currency)"
					from="store.currency"
					to="displayCurrencies">
				</amounts>
			</td>
		</tr>
		<tr>
			<td>Transport</td>
			<td colspan="2">
				<select ng-model="transport" ng-options="getTransportLabel(transport) for transport in store.transports" class="form-control"></select>
			</td>
			<td></td>
			<td>
				<amounts
					value="transport.price.in(store.currency)"
					from="store.currency"
					to="displayCurrencies">
				</amounts>
			</td>
		</tr>
		<tr>
			<td>Submarket Escrow</td>
			<td colspan="2">
				<select ng-model="submarketOption" ng-options="submarketOption.label for submarketOption in submarketOptions" class="form-control" id="escrow-select"></select>
			</td>
			<td>
				<span>
					Fee of {{submarketOption.escrowFeeCentiperun}}%
				</span>
			</td>
			<td>
				<amounts
					value="escrowFeeAmount.in(store.currency)"
					from="store.currency"
					to="displayCurrencies">
				</amounts>
			</td>
		</tr>
		<tr>
			<td colspan="4">Exchange Rate Buffer ({{store.infosphered.data.bufferCentiperun.toNumber()}}%)</td>
			<td>
				<amounts
					value="bufferAmount.in(store.currency)"
					from="store.currency"
					to="displayCurrencies">
				</amounts>
			</td>
		</tr>
		<tr>
			<td colspan="4"></td>
			<td>
				<amounts
					value="total.in(store.currency)"
					from="store.currency"
					to="displayCurrencies">
				</amounts>
			</td>
		</tr>
		<tr>
			<td>Affiliate</td>
			<td colspan="2">
				<input class="form-control" ng-model="affiliateCodeOrAlias" placeholder="Optional">
			</td>
			<td colspan="2"></td>
		</tr>
	</table>
    <div class="text-right">
		<button ng-click="createOrder()" class="btn btn-primary btn-lg">Create Your Order</button>
	</div>
</div>