<div ng-controller="ProductsController">
	<table class="table">
		<tr ng-repeat="product in store.products">
			<td>
				<img ng-src="{{product.imageUrl}}" ng-if="product.imageUrl" class="product-image">
			</td>
			<td>
				{{product.name}}
			</td>
			<td>
				{{product.info}}
			</td>
			<td>
				<amounts
					value="product.price"
					from="store.meta.currency"
					to="displayCurrencies">
				</amounts>
			</td>
			<td>
				<input class="form-control" type="number" ng-model="product.quantity" min="0">
			</td>
		</tr>
		<tr>
			<td colspan="4"></td>
			<td>
				<amounts
					value="productsTotal"
					from="'WEI'"
					to="displayCurrencies">
				</amounts>
			</td>
		</tr>
		<tr>
			<td>Transport</td>
			<td colspan="2">
				<select ng-model="transport" ng-options="getTransportLabel(transport) for transport in store.meta.transports" class="form-control"></select>
			</td>
			<td></td>
			<td>
				<amounts
					value="transport.price"
					from="store.meta.currency"
					to="displayCurrencies">
				</amounts>
			</td>
		</tr>
		<tr>
			<td>Escrow</td>
			<td colspan="2">
				<select ng-model="submarketAddr" ng-options="submarket.addr as submarket.label for submarket in submarketOptions" class="form-control"></select>
			</td>
			<td>
				<span ng-show="submarket">
					Fee of {{feePercent | percentage}}
				</span>
			</td>
			<td>
				<amounts
					value="estimatedFee"
					from="'WEI'"
					to="displayCurrencies">
				</amounts>
			</td>
		</tr>
		<tr>
			<td colspan="4"></td>
			<td>
				<amounts
					value="total"
					from="'WEI'"
					to="displayCurrencies">
				</amounts>
			</td>
		</tr>
		<tr>
			<td>Affiliate Code or Alias</td>
			<td colspan="2">
				<input class="form-control" ng-model="affiliateCodeOrAlias" placeholder="Optional">
			</td>
			<td colspan="2"></td>
		</tr>
	</table>
    <div class="text-right">
		<button ng-click="createOrder(store,submarket)" class="btn btn-primary btn-lg">Create Your Order</button>
	</div>
</div>