        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="ti-home"></i><span data-i18n="Dashboard"></span> </a></li>
        <li>
            <a href="#/ui"><i class="ti-wand"></i><span data-i18n="UI Kit"></span></a>
            <ul>
                <li><a href="#/ui/typography"><i class="ti-angle-right"></i><span data-i18n="Typography"></span></a></li>
                <li><a href="#/ui/icons"><i class="ti-angle-right"></i><span data-i18n="Icons"></span> <span class="badge badge-info">3</span></a></li>
                <li><a href="#/ui/buttons"><i class="ti-angle-right"></i><span data-i18n="Buttons"></span></a></li>
                <li><a href="#/ui/components"><i class="ti-angle-right"></i><span data-i18n="Components"></span> <span class="badge badge-danger">18</span></a></li>
                <li><a href="#/ui/boxes"><i class="ti-angle-right"></i><span data-i18n="Boxes"></span></a></li>
                <li><a href="#/ui/widgets"><i class="ti-angle-right"></i><span data-i18n="Widgets"></span> <span class="badge badge-success">13</span></a></li>
                <li><a href="#/ui/timeline"><i class="ti-angle-right"></i><span data-i18n="Timeline"></span></a></li>
                <li><a href="#/ui/nested-lists"><i class="ti-angle-right"></i><span data-i18n="Nested Lists"></span></a></li>
                <li><a href="#/ui/pricing-tables"><i class="ti-angle-right"></i><span data-i18n="Pricing Tables"></span></a></li>
                <li><a href="#/ui/maps"><i class="ti-angle-right"></i><span data-i18n="Maps"></span></a></li>
                <li><a href="#/ui/grids"><i class="ti-angle-right"></i><span data-i18n="Grids"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/pages"><i class="ti-files"></i><span data-i18n="Pages"></span></a>
            <ul>
                <li><a href="http://iarouse.com/dist-slim/landing/index.html" target="_blank"><i class="ti-angle-right"></i><span data-i18n="Landing"></span></a></li>
                <li><a href="#/pages/signin"><i class="ti-angle-right"></i><span data-i18n="Sign In"></span></a></li>
                <li><a href="#/pages/signup"><i class="ti-angle-right"></i><span data-i18n="Sign Up"></span></a></li>
                <li><a href="#/pages/forgot-password"><i class="ti-angle-right"></i><span data-i18n="Forgot Password"></span></a></li>
                <li><a href="#/pages/lock-screen"><i class="ti-angle-right"></i><span data-i18n="Lock Screen"></span></a></li>
                <li><a href="#/pages/profile"><i class="ti-angle-right"></i><span data-i18n="User Profile"></span></a></li>
                <li><a href="#/pages/invoice"><i class="ti-angle-right"></i><span data-i18n="Invoice"></span></a></li>
                <li><a href="#/pages/404"><i class="ti-angle-right"></i>404 <span data-i18n="Error"></span></a></li>
                <li><a href="#/pages/500"><i class="ti-angle-right"></i>500 <span data-i18n="Error"></span></a></li>
                <li><a href="#/pages/blank"><i class="ti-angle-right"></i><span data-i18n="Blank Page"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/table"><i class="ti-layout-grid4"></i><span data-i18n="Tables"></span></a>
            <ul>
                <li><a href="#/tables/static"><i class="ti-angle-right"></i><span data-i18n="Static Tables"></span></a></li>
                <li><a href="#/tables/responsive"><i class="ti-angle-right"></i><span data-i18n="Responsive Tables"></span> <span class="badge badge-info">2</span></a></li>
                <li><a href="#/tables/dynamic"><i class="ti-angle-right"></i><span data-i18n="Dynamic Tables"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/form"><i class="ti-pencil"></i><span data-i18n="Forms"></span></a>
            <ul>
                <li><a href="#/forms/layouts"><i class="ti-angle-right"></i><span data-i18n="Form Layouts"></span></a></li>
                <li><a href="#/forms/elements"><i class="ti-angle-right"></i><span data-i18n="Form Elements"></span> <span class="badge badge-info">13</span></a></li>
                <li><a href="#/forms/validation"><i class="ti-angle-right"></i><span data-i18n="Form Validation"></span></a></li>
                <li><a href="#/forms/wizard"><i class="ti-angle-right"></i><span data-i18n="Form Wizard"></span></a></li>
            </ul>
        </li>
       <li>
            <a href="#/charts"><i class="ti-bar-chart"></i><span data-i18n="Charts"></span></a>
            <ul>
                <li><a href="#/charts/flot"><i class="ti-angle-right"></i>Flot <span data-i18n="Charts"></span></a></li>
                <li><a href="#/charts/charts"><i class="ti-angle-right"></i>Other <span data-i18n="Charts"></span></a></li>
            </ul>
        </li>
        <li class="nav-task">
            <a href="#/tasks/tasks">
                <i class="ti-check-box"></i><span data-i18n="Tasks"></span>
                <span class="badge badge-danger main-badge"
                      data-ng-show="taskRemainingCount > 0">{{taskRemainingCount}}</span>
            </a>
        </li>
        <li>
            <a href="#/mail"><i class="ti-email"></i><span data-i18n="Mail"></span></a>
            <ul>
                <li><a href="#/mail/inbox"><i class="ti-angle-right"></i><span data-i18n="Inbox"></span></a></li>
                <li><a href="#/mail/compose"><i class="ti-angle-right"></i><span data-i18n="Compose"></span></a></li>
                <li><a href="#/mail/single"><i class="ti-angle-right"></i><span data-i18n="Single Mail"></span></a></li>
            </ul>
        </li>
    </ul>
</div>