<div class="page-err">
    <div class="err-container text-center">
        <div class="err">
            <h1>404</h1>
            <h2>Sorry, page not found</h2>
        </div>

        <div class="err-body">
            <a href="#/" class="btn btn-lg btn-goback">
                <span class="ti-home"></span>
                <span class="space"></span>
                Go Back to Home Page
            </a>
        </div>
    </div>
<!--     <div class="footer text-center">
        Copyright 2014 {{main.brand}} Admin
    </div> -->
</div>