<div class="page page-lock">

    <div class="lock-centered clearfix">
        <div class="lock-container">
            <!-- <div ui-time class="lock-time"></div> -->
            
            <div class="profile"><img src="images/g1.jpg" alt=""></div>
            
            <form class="lock-form">
                <p class="name">{{main.name}}</p>
                <input type="password" placeholder="Password..." class="form-control">
                <a href="#/" type="submit" class="btn-icon btn-icon-round btn-icon-lg btn-primary btn-submit">
                    <span class="ti-unlock"></span>
                </a>
            </form>

        </div>
    </div>
</div>