<div class="page-signup">

    <div class="signin-header">
        <section class="logo text-center">
            <h1><a href="#/">{{main.brand}}</a></h1>
        </section>
    </div>

    <div class="signup-body">
        <div class="container">
            <div class="form-container">

                <section>
                    <form class="form-horizontal text-center">
                        <div class="form-group">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="ti-user"></span>
                                </span>
                                <input  type="text"
                                        class="form-control input-lg"
                                        placeholder="Username"
                                        >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-email"></span>
                                </span>
                                <input type="email"
                                       class="form-control input-lg"
                                       placeholder="Email"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-lock"></span>
                                </span>
                                <input type="password"
                                       class="form-control input-lg"
                                       placeholder="Password"
                                       >
                            </div>
                        </div>
                        
                        <div class="divider divider-lg"></div>
                        <div class="form-group">
                            <p class="additional-info text-small">By clicking on sign up, you agree to <a href="javascript:;">terms & conditions</a> and <a href="javascript:;">privacy policy</a></p>
                            <div class="divider"></div>
                            <a href="#/" class="btn btn-primary btn-block btn-lg">Sign up</a>
                        </div>
 
                    </form>
                </section>

                <div class="divider"></div>
                <section class="additional-info">
                    <p class="text-right"><a href="#/pages/signin" >Log in now</a></p>
                </section>

            </div>
        </div>
    </div>
</div>