.ui-bullet {
    overflow: auto;

    .btn-icon {
        float: left;
        font-size: 26px;
    }

    .ui-bullet-content {
        margin-left: 75px;
        margin-bottom: 2em;
    }

    h3 {
        display: inline-block;
        border-bottom: 1px solid transparentize($text-color, .8);
        font-size: 24px;
        margin: .5em 0 .6em;
    }
}

